*{
    font-family: 'Comfortaa', cursive;
} 

a {
    text-decoration: none;
}

img { 
    max-width: 100%; 
    height: auto; 
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Media Queries: General */

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {html {  
    background: url('https://res.cloudinary.com/dcphly99o/image/upload/v1574790671/anas-alshanti-feXpdV001o4-unsplash_fucol2.jpg') no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {  
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}}

/* @media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
} */

/* Navbar */

.navbar {
    position: fixed;
    z-index: 100;
    float: right;
    color: white;
}

.mybg {
    background-color: #32103b
}

.my-color {
    color: white!important;
}

.my-color:hover {
    color: #aa48c1!important;
}

.bg-icon {
    background-color: white;
}

#my-name a{
    font-weight: bold; 
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    color: #32103b;
}

/* Intro Section */

.intro {
    font-family: 'Comfortaa', cursive;
    color: white;
}

.intro p {
    font-size: 2rem;
    position: absolute;
    left: 50px;
    top: 50px;
    padding: 8rem;
    margin: 2rem;
}

.intro span{
    font-weight: bold;
    font-size: 5rem;
}

.intro img {
    width: 100%;
}

/* About Me */

.about-me {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #32103b;
    top: 100px;
    left: 0px;
    right: 0px;
    height: 400px;
    padding: 6rem;
    margin-top: -4rem;
    color: white;
    transform: skewY(4deg);
    font-size: 22px;
    letter-spacing: 1px;
}

.about-me span {
    color: #aa48c1;
    font-weight: bold;
    font-size: 28px;
}

.not-slanted {
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
}

/* Projects */

.projects {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 4rem;
}

.responsive {
    width: 100%;
    height: auto;
  }
/* .projects img {
    width: 550px;
    height: 320px;
} */

.projects img:hover{
    opacity:0.5;
    transform: scale(1.1);
    transition: 0.7s;
}

.project-name {
    padding: 20px;
    color: #32103b;
}

.project-name:hover {
    transform: rotate(4deg);
    color: #aa48c1;
}

.projects a {
    text-decoration: none;
}

.project {
    padding: 2rem;
}

.center-text {
    text-align: center;
}

/* Contact */

.contact {
    font-family: Arial, Helvetica, sans-serif;
    /* transform: skewY(-4deg); */
    background-color: #32103b;
    padding: 4rem;
    /* height: 3rem; */
    color: white;
    text-align: center;
}

/* .not-slanted2 {
    -ms-transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
} */

#contact a {
    text-decoration: none;
    list-style-type: none;
    color: white; 
}

#contact a:hover {
    transform: rotate(4deg);
    color: #aa48c1;
}

/* #contact a:visited {
    color: green;
} */

#contact-options {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 1rem;
}


/* Tools*/

.what-tools {
    display: flex;
    justify-content: space-evenly;
}

.html {
    color: palevioletred;
}

.css {
    color: chartreuse;
}

.js {
    color: mediumslateblue;
}

.comm-law {
    color: orange;
}

.wordpress {
    color: blue;
}

.squarespace {
    color: olive;
}

/* Scroll Animation */

/* End */

.handcrafted {
    padding: .5rem;
    text-align: center;
    background-color: #32103b;
    color: white;
}



